.nav-container {
  width: 100vw;
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.Vivint-Logo {
  background-color: black;
  width: 85px;
  margin-left: 20px;
}

.Vivint-Logo:hover {
  cursor: pointer;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-evenly;
  font-size: 13px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.link {
  margin: 0 25px 5px 25px;
  margin-left: 25px;
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 5px;
  font-weight: lighter;
}

.link:hover {
  cursor: pointer;
}

.down-arrow {
  margin-left: 10px;
}

.login-search-container {
  color: white;
  margin-left: 12vw; 
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: lighter;
}

.login {
  font-weight: lighter;
}

.login:hover{
  cursor: pointer;
}

.search-icon {
  width: 35px;
  margin-left: 3vw;
  height: 25px;
}

.search-icon:hover {
  cursor: pointer;
}

.peace-of-mind {
  color: white;
  font-weight: lighter;
}

.phone-button-container {
  position: fixed;
  right: 25px;
  top: -15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.phone-button {
  height: 60px;
  margin-top: -15px;
  border-radius: 30px;
  border: none;
  background-color: #e9c46a;
  font-weight: bold;
  font-size: large;
}

.phone-button:hover {
  cursor: pointer;
  background-color: white;
}